.avatar {
  width: 64px;
  height: 64px;
  border: 1px solid #aaa;
  background-color: var(--avatar-background-color, white);
  margin-left: 10px;
  overflow: hidden;
}

.avatarPreview {
  display: inline-block;
}

.avatar img {
  width: 64px;
  height: 64px;
}

.emptyAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: var(--avatar-text-color);
}

.avatarSettingsForm {
  padding: 5px 0 15px 10px;
}

.settingField {
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.settingField input {
  flex: 0 1 200px;
  min-width: 0;
  max-width: 200px;
  padding: 2px;
  margin-left: 5px;
  box-shadow: var(--box-shadow-input);
}

.settingField[class*='step']::before {
  margin-left: -5px;
}

.settingField.step1::before {
  content: '1.\00a0';
}

.settingField.step2::before {
  content: '2.\00a0';
}

.settingField.step3::before {
  content: '3.\00a0';
}

.settingField.step4::before {
  content: '4.\00a0';
}

.settingField.step5::before {
  content: '5.\00a0';
}

.settingField a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
}

.settingField a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.settingTitle {
  font-style: inherit;
  text-transform: none;
  white-space: nowrap;
  flex-shrink: 0;
}

.timestampfield {
  margin-left: 10px;
}

.buttons {
  margin-top: 10px;
  margin-left: 5px;
}

.save {
  margin-right: 5px;
}

.state {
  text-transform: lowercase;
  padding-top: 10px;
  padding-left: 10px;
  max-width: 300px;
  color: var(--post-mobile-abbr-text-color);
}

.error {
  color: red;
}

.deleteAvatarContainer {
  margin-top: 20px;
  margin-left: 5px;
}

.removeAvatar {
  color: red;
}
