.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 999;
}

.disclaimerDialog {
  position: absolute;
  width: 300px;
  top: 50px;
  left: 50%;
  margin-left: -151px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(136, 0, 0);
  color: rgb(136, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px 1px;
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 13px;
  line-height: 16.003px;
  z-index: 1000;
}

.hd {
  background-color: rgb(136, 0, 0);
  color: rgb(255, 255, 255);
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd h2 {
  margin: 0;
  padding: 0;
  font-size: 131%;
  font-weight: bold;
}

.closeButton {
  all: unset;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  width: 18px;
  height: 18px;
  text-align: center;
  user-select: none;
  background-image: var(--disclaimer-modal-close-button-background-image);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.closeButton:hover {
  opacity: 0.8;
}

.bd {
  padding: 10px;
}

.bd p {
  margin: 0 0 10px 0;
}

.bd ol {
  margin: 0;
  padding-left: 20px;
}

.bd li {
  margin-bottom: 10px;
}

.bd a {
  color: rgb(136, 0, 0);
  text-decoration: underline;
}

.disclaimerFooter {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
