.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 999;
}

.createBoardDialog {
  position: absolute;
  width: 500px;
  top: 50px;
  left: 50%;
  margin-left: -250px;
  background-color: var(--settings-modal-background-color);
  border-top: var(--settings-modal-border-top);
  border-right: var(--settings-modal-border-right);
  border-bottom: var(--settings-modal-border-bottom);
  border-left: var(--settings-modal-border-left);
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px 1px;
  font-size: var(--body-font-size);
  line-height: 16.003px;
  z-index: 1000;
}

@media (max-width: 600px) {
  .createBoardDialog {
    width: calc(100% - 20px);
    margin-left: -50%;
    left: 50%;
    max-width: 500px;
  }
}

.hd {
  position: relative;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--settings-modal-header-border-bottom);
}

.hd h2 {
  margin: 0;
  padding: 0;
  font-size: 131%;
  font-weight: bold;
}

.closeButton {
  all: unset;
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-image: var(--settings-modal-close-button-background-image);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.bd {
  padding: 10px;
}

.section {
  margin-bottom: 20px;
}

.section:last-child {
  margin-bottom: 0;
}

.section h3 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: calc(var(--body-font-size) * 1.077);
  font-weight: bold;
  letter-spacing: 0.3px;
}

.section p {
  margin: 0 0 12px 0;
  font-size: var(--body-font-size);
  line-height: 16.003px;
}

.section p:last-child {
  margin-bottom: 0;
}

.bd a {
  color: var(--button-desktop-text-color);
  text-decoration: underline;
}

.bd a:hover {
  color: var(--button-desktop-text-color-hover);
}

.createBoardFooter {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

