.setting {
  margin-left: 10px;
  margin-bottom: 10px;
}

.addWallet select {
  margin-right: 5px;
  margin-bottom: 5px;
}

.walletTitle {
  text-transform: lowercase;
  font-style: italic;
}

.save {
  margin-top: 10px;
  margin-right: 5px;
}

.walletField {
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}

.timestampfield {
  margin-left: 10px;
}

.walletField[class*='step']::before {
  margin-left: -5px;
}

.walletField.step1::before {
  content: '1. ';
}

.walletField.step2::before {
  content: '2. ';
}

.walletField.step3::before {
  content: '3. ';
}

.walletField.step4::before {
  content: '4. ';
}

.save.step5::before {
  content: '5. ';
}

.walletField {
  position: relative;
}

.settingField input {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
  padding: 2px;
  margin-left: 5px;
  box-shadow: var(--box-shadow-input);
}

.walletField a {
  color: var(--post-link-text-color);
  text-decoration: var(--post-content-link-text-decoration);
}

.walletField a:hover {
  color: var(--post-link-text-color-hover);
  text-decoration: var(--post-content-link-text-decoration-hover);
}

.copyMessage {
  padding-top: 10px;
}

.copyMessage a {
  color: var(--text-primary);
}

.copyMessage a:hover {
  text-decoration: underline;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.toggleWallet {
  margin-right: 7px;
}

.deleteWalletContainer {
  margin-top: 20px;
  margin-left: 5px;
}

.removeWallet {
  color: red;
}